@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="file"] {
  display: none;
} */

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}
ul,
li {
  list-style: none;
  cursor: pointer;
}

input[type="file"] {

  font-size: 16px;
  opacity: 0;
}

.swiper {
  width: inherit;
  height: inherit;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* swiper-custom.css */
.swiper-button-prev,
.swiper-button-next {
  color: #000 !important; /* change color of the icons */
  font-size: 24px;
  /* change size of the icons */
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: "" !important; /* remove the default arrow content */
}

.swiper-button-prev::after {
  content: "\2190" !important; /* add a left arrow icon */
}

.swiper-button-next::after {
  content: "\2192" !important;
  /* add a right arrow icon */
}

.wrapperClass {
  min-height: 20rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
}

.products:hover + ul {
  height: 100%;
}
